:root {
  --agora-blau: #39A9E2;
  --gris-fosc: #333333;
  --blanc: #FFFFFF;
  --gris-clar: #F4F4F4;
  --buttons: #16BAC5;
  --gris-mitja: #666666;
  --gris-suau: #ECECEC;
  --blau-mitja: #01151F;
  --blau-fosc: #1C9EE0;
  --button-hover: #14CFDB;
  --turquesa-clar: #14CFDB;
  --groc: #EAB308;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: var(--gris-fosc);
}


.contact-page {
  height: 100vh; /* altura completa de pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris-clar);
  padding: 2rem;
}

.form-container {
  background-color: var(--blanc);
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 600px;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gris-suau);
  border-radius: 0.5rem;
  font-size: 1rem;
}

form button {
  background-color: var(--buttons);
  color: var(--blanc);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;

  display: block;
  margin: 0 auto;
}

.form-group input {
  width: 200px;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-group input {
  width: 100%;
}

.form-group {
  flex: 1;
}

textarea{
  height: 7rem;
}

.form-container h1{
    padding-bottom:2rem;
    text-align: center;
}


  @media (max-width: 768px) {
      .desktop-only { display: none; }
      .mobile-only { display: block; }


  body {
    font-family: Arial, sans-serif;
    color: var(--gris-fosc);
  }



  .contact-page {
    margin-top:80px;
    height: auto;
    padding: 1rem;
  }

  .form-container {
    max-width: none;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0;
  }

}
























